/* You can add global styles to this file, and also import other style files */

body {
    color: #fffaea;
    background-color: #4158D0;
    background-image: url("assets/Heavens Gate.png");
    background-size: cover;
    background-position-x: center;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}